*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    min-block-size:100%;
    display:grid;
    place-content:center;
    padding-block:30dvh;
    background:#0093AF;
}
@keyframes slide-fade-in {
    from{
        opacity:0;
        box-shadow:none;
        transform:scale(.8) translateY(15vh);
    }
}
.cards {
    display:grid;
    gap:2em;
    grid-auto-flow: dense;
    grid-template-columns:repeat(5,30ch);
}
.card{
    animation: slide-fade-in both;
    animation-timeline: view();
    animation-range: contain 0% contain 50%;
    border-radius:10px;
    box-shadow: 0 px 8px 20px #00000002;
    font-size:2em;
    color:#fff;
    width:100%;
    height:100%;
    overflow:hidden;
    background-image: linear-gradient(to bottom right,
        #91defe,
        #99c0f9,
        #bdb6ec,
        #88e1f1,
        #85cde9);
     display: flex;   
     justify-content: center;
     align-items:center;
}
.card img{
    width:100%;
    height:100%;
}
.card:nth-of-type(4n){
    grid-column: span 2;
}
.card:nth-of-type(5n){
    grid-column: span 2;  
}
.card:nth-of-type(7n){
    grid-row:span 2;
}
.button-32 {
    background-color: #7f34d5;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-32:not(:disabled):hover,
  .button-32:not(:disabled):focus {
    outline: 0;
    background: #9660d0;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }
