.red-big-center{
    color:red;
    font-size:5em;
    text-align:center;
}
.abc .bcd{
    color:brown;
}
.red-big-center+li{
    color:aquamarine
}

a:link{
    color:aqua
}
a:visited{
    color:aquamarine
}
a:hover{
    color:blue
}
a:active{
    color:greenyellow
}

.hawkboxQwQ{
    color:darkorange;
    font-size: 0.75em;
    line-height:1.5;    
}
.hawkintro{
    border:3px dotted;
    padding: 20px;
    width: 300px;
    height: 80px;
overflow: scroll;
}
li{border-bottom: 1px dashed #ccc;
    border-left: 3px solid grey;
    padding-left:10px;
    margin:1em 0;
    width:200px;
}
.hawkpage a{
border: 1px solid #e2deeb; 
width: 34px;
height: 34px;
display: inline-block;
text-align:center;
line-height: 34px;
}
.hawkpage a:hover{
    border-color: #38f; 
    background:rgb(243, 201, 133);
}
.hawkpage a.selected{
    border:none;
    color:aquamarine;
    background:initial;
}

.ss{
    width: 300px;
    height: 300px;
    border: 5px solid ;
    object-fit:fill;
}

.ssr{
    width: 600px;
    height: 600px;
    object-fit:contain;
}